h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
}

footer {
  text-align: left;
  margin: 25px 0px 0px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #81817f;
}

p {
  margin: 0 auto;
}

.weatherInfo {
  font-size: 15px;
  margin: 0 auto;
  position: relative;
}

.container {
  font-family: "Quicksand", sans-serif;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d5def5;
  border-radius: 5px;
  border-color: grey;
  padding: 20px;
}

.btn-secondary {
  margin-right: 10px;
  background-color: #8594e4;
  opacity: 0.2px;
  border: none;
  margin-top: 1px;
}

.btn-secondary:hover {
  transition: ease-in-out 200ms;
  background-color: #81817f;
  border: none;
}

.search-town {
  margin-left: 45px;
}

.farenheit {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  font-style: none;
}

#time-and-date {
  font-size: 20px;
  position: relative;
  left: 145px;
  bottom: 25px;
  margin: 0 auto;
  width: 460px;
}

.temperatureCentigrade {
  text-decoration: none;
  font-weight: 200px;
  font-style: none;
  font-size: 20px;
  position: relative;
  left: 40px;
  bottom: 0.5px;
  margin: 0 auto;
  padding: 0px;
}

.farenheit:hover {
  color: #81817f;
}

.temperatureCentigrade:hover {
  color: #81817f;
}

.centigrade {
  position: relative;
  top: -8px;
}

.weather-predictions {
  text-align: center;
  margin-top: 25px;
}

#line {
  max-width: 60px;
  left: 200px;
  position: relative;
}

#main-icon.icon {
  color: #6b62ff;
  left: 30px;
}

#mainC {
  text-align: left;
  font-size: 15px;
  position: relative;
  bottom: 14px;
}

#mainTemp {
  font-size: 35px;
}

.main-heading {
  margin: 0 auto;
}
