h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
}

.weatherInfo {
  font-size: 15px;
  margin: 0 auto;
  position: relative;
}

.container {
  font-family: "Quicksand", sans-serif;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eae8fc;
  border-radius: 5px;
  border-color: grey;
  padding: 20px;
}

.btn-secondary {
  margin-right: 10px;
  background-color: #6b62ff;
  opacity: 0.2px;
  border: none;
  margin-top: 1px;
}

.btn-secondary:hover {
  transition: ease-in-out 200ms;
  background-color: #81817f;
  border: none;
}

.search-town {
  margin-left: 45px;
}

#line {
  max-width: 60px;
  left: 200px;
  position: relative;
}
